// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";

// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@import url(../../lib/font/signpainter/signpainter.css);
@import url(../../lib/font/raleway/raleway.css);
@import url(../../lib/font/cubano/cubano.css);

@import "notyourcode-variables";

section.has-light-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: #222;
  }
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Common
.handwritten {
  font-family: 'signpainter';
}
.right { display: block; float: right; }
.left { display: block; float: left; }
.clear { clear: both; }

.quote {
  display: block;
  padding-top: $screenHeight / 5;
  background: url('../../images/quote-round.png');
  background-size: 128px 128px;
  background-position: top left;
  background-repeat: no-repeat;
  .left & {
    background-position: top right;
  }
}
section .fullblock {
  width: $screenWidth;
  margin: auto;
}

// Colors
section.has-light-background {
  color: $invertColor;
}
.red {
  blockquote { background-color: $mainColorRedAlpha; }
  .alt { color: $alternativeColorRed; }
}
.blue {
  blockquote { background-color: $mainColorBlueAlpha; }
  .alt { color: $alternativeColorBlue; }
}
.purple {
  blockquote { background-color: $mainColorPurpleAlpha; }
  .alt { color: $alternativeColorPurple; }
}

.fullwidth {
  width: 100%
}

@import "./notyourcode-slides";
