<table id="social-sharing">
    <tr>
        <td>
            <!-- Facebook -->
            <div id="fb-root"></div>
            <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5&appId=1724304537798116";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-share-button"></div>
        </td>
        <td class="push-bottom">
            <!-- Twitter -->
            <a href="https://twitter.com/share" class="twitter-share-button" {count} data-via="le_skwi">Tweet</a>
            <script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'twitter-wjs');</script>
        </td>
        <td class="push-bottom">
            <!-- LinkedIn -->
            <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>
            <script type="IN/Share"></script>
        </td>
        <td class="push-bottom">
            <!-- Buffer -->
            <a href="http://bufferapp.com/add" class="buffer-add-button" data-count="none" data-via="le_skwi"></a>
            <script type="text/javascript" src="https://d389zggrogs7qo.cloudfront.net/js/button.js"></script>
        </td>
    </tr>
</table>


