{% include header.html %}

{% include nav.html lang='fr' %}

<div class="container">

    <div id="content" class="post">

        {% if page.link %}
        <h1 class="linktitle"><a href="{{ page.link }}">{{ page.title }}</a></h1>

        <p class="date">{{ page.date | date:"%d/%m/%Y" }}</p>
        {% else %}
        <h1 class="posttitle">{{ page.title }}</h1>

        <p class="date articledate">{{ page.date | date:"%d/%m/%Y" }}</p>
        {% endif %}

        {% if page.image %}
        <figure>
            <img src="{{ page.image }}" alt="" />
            {% if page.credit %}
            <figcaption>{{ page.credit }}</figcaption>
            {% endif %}
        </figure>
        {% endif %}

        {{ content }}

        {% include disqus.html %}

    </div>
    <!-- /content -->
</div> <!-- /container -->

{% include footer.html %}
