---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                {{ content }}
                
                <!-- <hr id="end-of-post"> -->

                <div class="meta" id="author-card">Écrit par {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} (
                        <a href="https://twitter.com/le_skwi"><i class="fa fa-twitter"></i></a>
                        <a href="mailto:cedric@skwi.fr"><i class="fa fa-envelope"></i></a>
                        ) le {{ page.date | date: "%d/%m/%Y"
                    }}
                </div>

                <!-- <hr> -->

                <form id="newsletter" action="https://tinyletter.com/le_skwi" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/le_skwi', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                    <p>
                        Tu as trouvé cet article intéressant ? pertinent ? fun ? <br>
                        N'hésite pas t'abonner à la newsletter pour recevoir 1 à 2 fois par mois des nouvelles du blog, mais aussi des recommandations et un peu de mon actualité.
                    </p>
                    <p>
                        <input id="newsletter-email" type="text" name="email" placeholder="monemail@domain.com"/>
                        <input id="newsletter-subscribe" type="submit" value="Je m'abonne !" />
                    </p>
                    <input type="hidden" value="1" name="embed" />

                    <p id="newsletter-disclaimer">
                        Les adresses emails récoltées sont accessible par l'auteur du blog et uniquement utilisées dans le cadre de cette newsletter. Le service de newsletter est fourni par <a href="https://tinyletter.com" target="_blank">TinyLetter</a>
                    </p>
                </form>

                <hr>

                <div id="comments"></div>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Article précédent</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Article suivant &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</article>

<hr>
